PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

DATABASE_URL=PROTECTED

JWT_ACCESS_SECRET=PROTECTED
JWT_REFRESH_SECRET=PROTECTED
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=PROTECTED
CLOUDINARY_API_KEY=PROTECTED
CLOUDINARY_API_SECRET=PROTECTED

STRIPE_SECRET_KEY=PROTECTED
STRIPE_WEBHOOK_SECRET=PROTECTED
